@font-face {
    font-family: 'Lobster two';
    src: url(../Fonts/Lobster_Two/LobsterTwo-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../Fonts/Roboto/Roboto-Regular.ttf);
}
$logo-font: 'Lobster Two', sans-serif;
$body-font: 'Roboto', sans-serif;